doctype html
html
  head
    meta(charset="utf-8")
    title Posts

  body
    header
      h1 Write your post

      div
        | Number of topic today:
        strong= num_topic_today

        each topic in topics

    form(method="post" action="/")
      h2 Topic
        div
          textarea(name="feedback" style="width: 300px; height: 100px;" placeholder="Your feedback here")
        div
      button Open

    form(method="post" action="/posts")
      h2 Post
        div
          textarea(name="feedback" style="width: 300px; height: 100px;" placeholder="Your feedback here")
        div
      button Submit

      div
        em #{topic.}
